########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

{%- from "rkhunter/macro.jinja" import print_config -%}
{%- from "rkhunter/map.jinja" import rkhunter with context -%}
{{ print_config(rkhunter.config) }}
